@font-face {
  font-family: "Vazir";
  src: url("fonts/vazir.eot"), url("fonts/vazir.ttf") format("truetype"),
    url("fonts/vazir.woff2") format("woff2"),
    url("fonts/vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  font-family: "Vazir";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151729;
  background-image: url(img/p404.png);
}

#container .content{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

#container .content h2{
  font-size: 200px;
  font-weight: 700;
  color: #fff;
}

#container .content h4{
  font-size: 50px;
  color: #fff;
  margin-top: -10px;
  position: relative;
}

#container .content p {
  font-size: 20px;
  color: #fff;
  margin: 20px 0;
}

#container .content a {
  text-decoration: none;
  color: #fff;
  background-color: #0500ff;
  padding: 5px 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
